## Any jupiter notebooks meant to be used to check things (in private)
*_test.ipynb

## intermediate data notebooks
schedule_weather_sunday_period_*

## testing the reprocessing data 
t_schedule_*.csv